*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:#e6e6e6;
    font-family:sans-serif;
}
html{
    text-rendering: optimizeLegibility;
    color:#000;
}
.row{
    width:1140px;
    margin:0 auto;
}
.title {
   margin-top: 29px;
    float:left;
    margin-left:300px;
    color:#000;
    font-family:'Lato:ital';
    font-size:240%;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px; 
}
.title:hover,
.title:active{
    transform: scale(1.5);
    transition: transform 2s;
    
}

.logo-page-htb {
    height:100px;
    width:auto;
    float:left;
}

.sub-title {
    margin-top:30px;
    margin-left:15%;
    font-family: 'Lato';
    font-size:35px;

}

.sub-title:hover+h4{
transform:scale(1.15);
transition: transform 1s;
}


.para {
   
    font-family: 'lato';
    padding-bottom: 20px;
    font-size:120%;
    margin-top: 10px;
    padding-top: 6px;
}

.numbers {
   float:left;
    margin-right:7px;
    border:2px solid black;
    margin-bottom: 6px;
    border-radius: 50%;
    background-color: orange;
    color:black;
    height:35px;
    padding-top:5px;
    width: 35px;
    display: inline-block;
    text-align: center;
}
.numbers:hover,
.numbers :active{
border:2px solid orange;
    background-color: black;
    color:orange;
}

.sub-title-section {
    margin-bottom: 25px;
}

.steps {
margin-left: 150px;
}

.img-htb {
    height:250px;
    width:800px;
    opacity:0.77;
    background-color:#000;
}
.img-htb:active,
.img-htb:hover{
opacity:1;
   
}

.img-htb1 {
    background-color: black;
     height:250px;
    width:800px;
    margin-bottom: 25px;
}

.sub-sub-title {
    margin-left:35%;
    font-family: 'Lato';
    font-size:25px;
    
}
