*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #e6e6e6;
    font-family:sans-serif;
}
html{
    text-rendering: optimizeLegibility;
    color:#555;
}
.row{
    width:1140px;
    margin:0 auto;
}

.heading {
margin-top: 25px;
    float:left;
    margin-left:80px;
    color:#000;
    font-family:'Lato:ital';
    font-size:240%;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.heading:hover,
.heading:active{
    transform: rotateY(360deg);
    transition: transform 2s;
    
}

.head-div {
    font-family:"Lato";
    width:1140px;
    text-align:justify;
    transform: translate(40%,0%);
}


.text{
  color:black; 
    width:90%;
     margin-left:5%;
    margin-right: 5%;
  letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 260%;
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'lato:itaL';
    font-size: 17px;
}


h3 {
    margin-bottom: 15px;
}

.logo {
    height:100px;
    width:auto;
    float:left;
}

.discriptionlogo {
    height:35px;
    width:auto;
    margin-bottom: 2%;
}
.discriptionlogo:hover,
.discriptionlogo :active{
    height:35px;
    width:auto;
 transform: rotate(360deg);
    transition: transform 0.5s;
}

.box {
    padding:1%;
}
.box p{

line-height:160%;
}


.text2 {
 color:black;  
  letter-spacing: 1px;
    word-spacing: 8px;
    line-height: 300%;
    width:95%;
    height: 150%;
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'lato:ital';
    font-size: 16.5px;
}

.text3 {
    font-family: 'lato';
    font-size:150%;
    
}
